<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Twittex", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <div class="sidebar">
      <ul class="sidebar-user-menu">
        <%= if @current_user do %>
          <li><b><%= @current_user.username %></b></li>
          <li><%= link "My profile", to: Routes.user_path(@conn, TwittexWeb.UserLive, @current_user.username) %></li>
          <li><%= link "Settings", to: Routes.user_settings_path(@conn, :edit) %></li>
          <li><%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %></li>
        <% else %>
          <li><%= link "Register", to: Routes.user_registration_path(@conn, :new) %></li>
          <li><%= link "Log in", to: Routes.user_session_path(@conn, :new) %></li>
        <% end %>
      </ul>
    </div>
    <div class="main">
      <%= @inner_content %>
    </div>
  </body>
</html>
