body {
  padding-top: 50px;
}

.sidebar {
  display: inline-block;
  width: 20%;
}

.sidebar-user-menu {
  list-style: none;
  text-align: right;
}

.main {
  display: inline-block;
  margin-left: 30px;
  vertical-align: top;
}

.clearfix {
  clear: both;
}

.user-header-avatar {
  float: left;
  padding-right: 20px;
}

.user-header-profile {
  float: left;
}

.user-header-profile .username {
  font-size: 1.1em;
  font-weight: bold;
}

.user-header-profile .stats {
  color: #555;
  font-size: 0.9em;
}

.tweeks {
  list-style: none;
  padding: 0;
}

.tweeks li {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  padding: 10px 10px 20px;
}

.tweeks .user-avatar {
  float: left;
  margin-right: 12px;
  margin-top: 5px;
}

.tweeks .content {
  display: block;
}

.tweeks .metadata {
  color: #555;
  display: block;
}

.tweeks .metadata .username a {
  color: #555;
  text-decoration: none;
}

.tweeks .metadata .username a:hover {
  color: #222;
  text-decoration: underline;
}
